/* !Custom Properties */
:root {
  --first-color: #25c2a0;
  --first-alpha-color: #25c2a0;
  --second-color: #242526;
  --second-alpha-color: #242526;
  --third-color: #1b1b1d;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #242526;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #fff;
  --text-color: #efdfdf;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(75, 73, 73, 0.5);
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* !Reset****************/

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: #1b1b1d;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.5s ease-out;
}
a:hover {
  opacity: 0.75;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

/* !Componentes****************/

@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
}

/* carousel */
.carousel {
  border-radius: 25px;
  margin: 2rem auto;
  padding: 2rem 0;
  max-width: 80vw;
  text-align: center;
  background-color: #1b1b1db5;
  overflow-x: hidden;
}
.carousel input {
  display: none;
}
.carousel .slides {
  /* por cada slide que tenga tu carrsel  es un 100% por eso le ponemos 400%*/
  width: 400%;
  display: flex;
  list-style: none;
  /* no quedaban centrados por que como le quitamos el estilo de la bullet
   igual seguia manteniendo espaciado */
  padding-left: 0;
  transition: transform 0.5s ease-in-out;
  /* agregamos animacion que dura 15s 
  y cuando recien cargue la pg demore 3s en comenzar */
  animation: carousel-slide 12s ease-in-out 3s;
}
.carousel label {
  /* usamos iline block para los label esten en bloque  */
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: medium solid var(--first-alpha-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.25rem;
}
/* cuando la posicion del slide con id 1 este checked la posicionas  */
/* * usamos el 25% ya que son 4 slide dividimos 100 entre la cantidad de slides */
#slide-1:checked ~ .slides {
  transform: translateX(0%);
}
#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}
#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}
#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}
/* indicamos que cuando  el slide  este chekeado se
 pinte el label que tenga el id dot  */
#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
  background-color: var(--first-color);
}
/* formulario de contacto */
.contact-form {
  background-color: var(--second-color);
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
/* para el autocompletado del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px #242526 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}
.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}
.contact-form input {
  color: var(--white-color);
  background-color: var(--second-color);
  border: 0;
  border-bottom: thin solid var(--first-alpha-color);
  padding-left: 0;
}
.contact-form input button {
  color: var(--white-color);
  background-color: var(--second-color);
  border: 0;
  border-bottom: thin solid var(--first-alpha-color);
  padding-left: 0;
}

.contact-form textarea {
  color: var(--white-color);
  background-color: var(--second-color);
  border: thin solid var(--first-alpha-color);
  resize: none;
}
.contact-form input[type='submit'] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-form input[type='submit']:hover {
  opacity: 0.75;
}
/* oye a todos los hijos de contform que tengan el atributo plach agragale... */
.contact-form *::placeholder {
  color: var(--gray-dark-color);
}
.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}
.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}
/* el elemento con clase modal que tenga el idgracias y cuando tenga el target
dale esto... */
.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }
  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }
  .contact-form input[type='submit'] {
    margin-left: 0;
  }
}
#enviar {
  background-color: var(--first-alpha-color);
}
.hero-image {
  background-image: var(--image); /* La imagen que quieras mostrar */
  background-repeat: repeat-y; /* Para repetir la imagen verticalmente */
  background-position: 50% 0%; /* Centra la imagen horizontalmente */
  background-size: cover; /* Ajusta la imagen para cubrir el área */
  animation: scroll-background 15s ease-in-out infinite; /* Animación continua */
}
.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
  text-align: center;
}

/* Animación para simular el desplazamiento */
@keyframes scroll-background {
  0% {
    background-position: 50% 0%; /* Empieza la imagen en la parte superior */
  }
  100% {
    background-position: 50% 100%; /* Finaliza cuando la imagen ha bajado completamente */
  }
}
.hero-image-title {
  font-size: 7.5vw; /* tamaño de letra que varia  segun el tamaño de pantalla*/
  color: var(--hero-text-color);
  -webkit-animation: tracking-in-contract-bck 5s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  20% {
    /* Reduce el porcentaje donde la opacidad empieza a subir */
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* menu */
.menu-btn {
  outline: thin solid var(--first-color);
  background-color: var(--second-color);
  border: 0;
  cursor: pointer;
}
.menu-btn svg {
  fill: var(--first-color);
}
.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}
.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  .menu {
    width: auto;
    flex-direction: row;
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}
/* modal */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  background-color: var(--black-alpha-color);
}
.modal-content {
  position: relative;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}
/* con este selector avanzado el target del modal se activa cuando
se encuentra un id que empiece por "trabajo"  */
.modal[id|='trabajo']:target {
  opacity: 1;
  pointer-events: auto;
}

/* progresbar */
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}
progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}
progress::-webkit-progress-value {
  background-color: var(--first-color);
}
progress::-moz-progress-bar {
  background-color: var(--first-color);
}
.progress {
  margin: 1rem auto; /* arriba y abajo 1em y auto a los lados */
}
.progress > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

/* !Utilities ***************/
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.bg-gray-light {
  background-color: var(--gray-light-color);
}
.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
.gray-scale {
  filter: grayscale(1);
}
.none {
  display: none;
}
/* clases utilitarias  que pueden servir para otros proyectos */

.section {
  padding: 2rem 1rem; /*vertical - lados */
}
.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--title-color);
}
.text-first-color {
  color: var(--first-color);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}

/* !Site Styles *******************/
.about > article {
  margin-bottom: 2rem;
}
.contact-card {
  background-color: var(--second-color);
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-card > svg {
  fill: var(--first-color);
  width: 2rem;
  height: 2rem;
}

.contact-card > small {
  margin-top: -1rem;
}
.footer {
  margin-bottom: var(--header-height);
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 0.5rem;
  text-align: center;
}
.header {
  position: fixed;
  left: 0;
  padding: 1rem;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  cursor: default;
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}
.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}
.portfolio-card img {
  width: 100%;
  height: 400px;
  object-fit: cover; /*con esta propiedad hacemos que cuando la foto es mas ancha no se pierda
  la proporcion de la img */
}
.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  padding: 1rem;
  opacity: 0;
  /* ccon esta propiedad haremos que aparezca la info
   activandola con el estado hover */
  pointer-events: none;
  /* usamos una transicion a todas "all de 5s " */
  transition: all 0.5s ease-in-out;
}
.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}
.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}
.imgpersonal {
  width: 500px;
  height: 350px;
  background-size: cover;
  background-position: center;
}
.portfolio-modal {
  background-color: var(--second-color);
  padding: 1rem;
  max-width: 380px;
  display: flex;
  flex-direction: column;
}
.portfolio-modal h3 {
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
  margin: 1rem auto;
  color: var(--title-color);
}
.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  /* hacemos que la columnas se generen de manera implicita pero le damos 2rem */
  /* con lo siguiente definimos tamaño de alto */
  grid-auto-rows: 2rem;
}
.portfolio-details b {
  color: var(--first-color);
}
.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}
.service-card h3 {
  color: var(--title-color);
}
.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}
.social-media a {
  text-decoration: none;
  padding: 0 0.4rem;
}
.social-media svg {
  fill: var(--first-alpha-color);
  width: 1.5rem;
  height: 1.5rem;
}
/* tableta */
@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    /* a 2 columnas y cada columna de 48% y el 4% que sobra es del space
    between */
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }
  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .portfolio .section-title {
    grid-column: span 2;
  }
  .portfolio-modal {
    flex-direction: row;
    /* le damos mas width ya que en movil lo tenia en 400px  */
    max-width: 800px;
  }
  .portfolio-info {
    margin-left: 1rem;
    /* con alignself centramos el elemento  */
    align-self: center;
  }
  .services > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
  /* asi indicamos que el h2 ocupe 2 columnas  */
  .services .section-title {
    grid-column: span 2;
  }
}
/* ordenador y más */
@media screen and (min-width: 1024px) {
  /* con esto   hacemos 3 columnas del 30% y el 10 sobrante
   lo aprovechamos con justconten*/
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }
  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }
  .carousel {
    max-width: 800px;
  }
  .footer {
    margin-bottom: 0;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) -0.5rem);
    /* con calc cojo el tamaño anterior y solo le
     resto para defir un tamaño proporcional */
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .section-title {
    grid-column: span 3;
  }
  .services > .container {
    grid-template-columns: repeat(2, 30%);
  }
  .ultimo {
    grid-column: span 2;
  }
  .icons-tecnologic svg {
    width: 80px;
    height: 50px;
  }

  /* .services .section-title {
    grid-column: span 3;
  } */
}

.icons-tecnologic {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 150px;
}
.icons-tecnologic svg {
  width: 45px;
}
